.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(235, 234, 235, 0.6);
  backdrop-filter: blur(8px);
  z-index: 10;
}

/* breakpoint === Taille maximum d'un appareil */

/**

Dans 90% des cas nous avons 3 css différents :
- Pour les portables (largeurs d'écran <= 768px)
- Pour les tablettes (largeurs entre 768px - 1024px)
- Pour les TV / Ordis (largeurs >= 1024px)

**/

.menu {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin: 0;
  padding: 0;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.item a {
  display: block;
  padding: 1rem;
}

.item a.logo {
  margin: 0 1.2rem;
  padding: 0;
}

.item a.logo svg {
  transform: scale(3);
}

.item a {
  font-size: 1.8rem;
  color: var(--color-nickel);
  text-align: center;
}

.active {
  color: var(--color-platinium);
  background-color: var(--color-nickel);
}
.active a {
  color: var(--color-platinium);
}
